In [8]:
!pip install matplotlib
!pip install ipython-sql
!pip install psycopg2

Requirement already satisfied: matplotlib in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (3.6.2)
Requirement already satisfied: numpy>=1.19 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from matplotlib) (1.23.3)
Requirement already satisfied: fonttools>=4.22.0 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from matplotlib) (1.0.6)
Requirement already satisfied: cycler>=0.10 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Collecting ipython-sql
  Using cached ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Using cached prettytable-0.7.2-py3-none-any.whl
Collecting sqlparse
  Using cached sqlparse-0.4.3-py3-none-any.whl (42 kB)
Collecting sqlalchemy>=0.6.7
  Using cached SQLAlchemy-1.4.44-cp310-cp310-macosx_10_15_x86_64.whl (1.6 MB)
Requirement already satisfied: six in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython-sql) (8.6.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=5 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: appnope in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: stack-data in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Collecting greenlet!=0.4.17
  Using cached greenlet-2.0.1-cp310-cp310-macosx_10_15_x86_64.whl (203 kB)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in /Users/eescobar/opt/anaconda3/envs/Examen-1/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Installing collected packages: prettytable, sqlparse, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-2.0.1 ipython-sql-0.4.1 prettytable-0.7.2 sqlalchemy-1.4.44 sqlparse-0.4.3
Collecting psycopg2
  Using cached psycopg2-2.9.5-cp310-cp310-macosx_10_9_x86_64.whl
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

# Examen 1er Parcial

## Datos personales
Nombre:

## Reglas

1. El examen es **individual**.
2. Pueden usar las bibliotecas ya instaladas en el ambiente de docker que instalamos en el primer laboratorio, si quieren utilizar una biblioteca extra deben justificar el porque.
3. El notebook debe estar ejecutado para ser evaluado, EL NOTEBOOK NO SERA EJECUTADO, cualquier celda que no este ejecutada sera omitida.

## Informacion del dataset

En este examen trabajaremos con el dataset de Credit Card Frauds. El dataset se puede obtener del siguiente enlace [Credit Card Transactions](https://www.kaggle.com/datasets/kartik2112/fraud-detection?resource=download)
Las columnas del dataset son las siguientes:

* **trans_date_trans_time**: Fecha y hora de la transaccion
* **cc_num**: Numero de la tarjeta de credito
* **merchant**: Nombre del comercio
* **category**: Categoria del comercio
* **amt**: Monto de la transaccion
* **first**: Nombre del cliente
* **last**: Apellido del cliente
* **gender**: Genero del cliente
* **street**: Direccion del cliente
* **city**: Ciudad del cliente
* **state**: Estado del cliente
* **zip**: Codigo postal del cliente
* **lat**: Latitud de la direccion del cliente
* **long**: Longitud de la direccion del cliente
* **city_pop**: Poblacion de la ciudad del cliente
* **job**: Trabajo del cliente
* **dob**: Fecha de nacimiento del cliente
* **trans_num**: Numero de la transaccion
* **unix_time**: Tiempo unix de la transaccion
* **merch_lat**: Latitud de la direccion del comercio
* **merch_long**: Longitud de la direccion del comercio
* **is_fraud**: Indica si la transaccion es fraude o no

## Tarea A. Modelando de los datos

### A1. Cargando los datos - 10 puntos
En esta seccion se debe cargar los datos del archivo `fraud.csv` en la base de datos postgresql. Para esto se debe crear una tabla llamada `staging_cc_transactions` con los datos del archivo. Las columnas de la tabla debe tener el mismo nombre de las columnas del archivo csv.
1. Muestre las primeras 5 filas de la tabla **staging_cc_transactions**.
2. ¿Cuantas filas tiene el dataset?
3. ¿Cuantas tarjetas de credito diferentes hay en el dataset?

Las preguntas 1, 2 y 3 deben ser respondidas con SQL.

In [72]:
import pandas as pd
import configparser
import matplotlib_inline
from sqlalchemy import create_engine

In [73]:
# reading the db config file
config = configparser.ConfigParser()
config.read('db.ini')

# profile name
profile = "postgres_cloud"

# getting the db config
POSTGRES_USERNAME = config[profile]['username']
POSTGRES_PASSWORD = config[profile]['password']
POSTGRES_HOST = config[profile]['host']
POSTGRES_PORT = config[profile]['port']
POSTGRES_DATABASE = config[profile]['database']

# creating the connection string
postgres_connection_string = f'postgresql://{POSTGRES_USERNAME}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DATABASE}'

In [3]:
# load SQL module
%load_ext sql

In [4]:
# connect to the database
%sql $postgres_connection_string

In [5]:
# test the connection
%sql SELECT 1;

 * postgresql://postgres:***@35.226.219.2:5432/exam
1 rows affected.

[(1,)]

In [ ]:
"""ADD YOUR CODE HERE"""

In [9]:
# show the first 5 rows of the table
%sql SELECT * FROM staging_cc_transactions_wid LIMIT 5;

 * postgresql://postgres:***@35.226.219.2:5432/exam
5 rows affected.

[('2020-10-05 17:54:46', 60416207185, 1, 'fraud_Turner and Sons', 511881, 'shopping_pos', 2.13, 'Mary', 'Diaz', 'F', '9886 Anita Drive', 552616, 'Fort Washakie', 170145, 'WY', 82514, 43.0048, -108.8964, 1645, 'Information systems manager', '1986-02-17', 'bc5e2c4438e5cbca079fe9597a9a58a6', 1380995686, 43.210077000000005, -108.754777, 0),
 ('2020-12-14 22:51:17', 60416207185, 1, 'fraud_Turcotte, Batz and Buckridge', 509658, 'health_fitness', 4.13, 'Mary', 'Diaz', 'F', '9886 Anita Drive', 552616, 'Fort Washakie', 170145, 'WY', 82514, 43.0048, -108.8964, 1645, 'Information systems manager', '1986-02-17', 'c4c90b371b82379337378dbea09c5cc9', 1387061477, 43.522014, -107.924497, 0),
 ('2020-11-17 13:24:36', 60416207185, 1, 'fraud_Turcotte, Batz and Buckridge', 509658, 'health_fitness', 46.8, 'Mary', 'Diaz', 'F', '9886 Anita Drive', 552616, 'Fort Washakie', 170145, 'WY', 82514, 43.0048, -108.8964, 1645, 'Information systems manager', '1986-02-17', 'e14aabd6f41d46351c5aadd2f07e9ae4', 1384694676, 42.239757, -109.388483, 0),
 ('2020-12-17 20:40:07', 60416207185, 1, 'fraud_Turcotte, McKenzie and Koss', 511066, 'entertainment', 5.37, 'Mary', 'Diaz', 'F', '9886 Anita Drive', 552616, 'Fort Washakie', 170145, 'WY', 82514, 43.0048, -108.8964, 1645, 'Information systems manager', '1986-02-17', '1e1120d367ac56ad795033fd9b50b845', 1387312807, 42.56917, -108.08398, 0),
 ('2020-07-19 22:17:38', 60416207185, 1, 'fraud_Turcotte, McKenzie and Koss', 511066, 'entertainment', 59.41, 'Mary', 'Diaz', 'F', '9886 Anita Drive', 552616, 'Fort Washakie', 170145, 'WY', 82514, 43.0048, -108.8964, 1645, 'Information systems manager', '1986-02-17', '5a24a840d120c432c3513e868042c986', 1374272258, 43.226756, -108.694892, 0)]

In [11]:
DataFrame(_)

,trans_date_trans_time,cc_num,cust_id,merchant,merchant_id,category,amt,first,last,gender,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2020-10-05 17:54:46,60416207185,1,fraud_Turner and Sons,511881,shopping_pos,2.13,Mary,Diaz,F,...,43.0048,-108.8964,1645,Information systems manager,1986-02-17,bc5e2c4438e5cbca079fe9597a9a58a6,1380995686,43.210077,-108.754777,0
1,2020-12-14 22:51:17,60416207185,1,"fraud_Turcotte, Batz and Buckridge",509658,health_fitness,4.13,Mary,Diaz,F,...,43.0048,-108.8964,1645,Information systems manager,1986-02-17,c4c90b371b82379337378dbea09c5cc9,1387061477,43.522014,-107.924497,0
2,2020-11-17 13:24:36,60416207185,1,"fraud_Turcotte, Batz and Buckridge",509658,health_fitness,46.80,Mary,Diaz,F,...,43.0048,-108.8964,1645,Information systems manager,1986-02-17,e14aabd6f41d46351c5aadd2f07e9ae4,1384694676,42.239757,-109.388483,0
3,2020-12-17 20:40:07,60416207185,1,"fraud_Turcotte, McKenzie and Koss",511066,entertainment,5.37,Mary,Diaz,F,...,43.0048,-108.8964,1645,Information systems manager,1986-02-17,1e1120d367ac56ad795033fd9b50b845,1387312807,42.569170,-108.083980,0
4,2020-07-19 22:17:38,60416207185,1,"fraud_Turcotte, McKenzie and Koss",511066,entertainment,59.41,Mary,Diaz,F,...,43.0048,-108.8964,1645,Information systems manager,1986-02-17,5a24a840d120c432c3513e868042c986,1374272258,43.226756,-108.694892,0

In [10]:
# count the total number of rows in the table
%sql SELECT cc_num FROM staging_cc_transactions_wid GROUP BY cc_num;

 * postgresql://postgres:***@35.226.219.2:5432/exam
924 rows affected.

[(60416207185,),
 (60422928733,),
 (60423098130,),
 (60427851591,),
 (60487002085,),
 (60490596305,),
 (60495593109,),
 (501802953619,),
 (501828204849,),
 (501831082224,),
 (501882822387,),
 (501899453424,),
 (502012776709,),
 (502038091380,),
 (502049568400,),
 (503848303379,),
 (503851367360,),
 (503874407318,),
 (560881134780,),
 (561942763351,),
 (565399283797,),
 (567868110212,),
 (568279015842,),
 (570273151375,),
 (571314334723,),
 (571365235126,),
 (571465035400,),
 (571844099986,),
 (573283817795,),
 (573860193545,),
 (577588686219,),
 (580954173374,),
 (581293083266,),
 (581508178315,),
 (581686439828,),
 (583699482621,),
 (584673555952,),
 (586100864972,),
 (630412733309,),
 (630423337322,),
 (630424987505,),
 (630425673344,),
 (630441765090,),
 (630451534402,),
 (630469040731,),
 (630471368021,),
 (630484879808,),
 (639023984367,),
 (639030014711,),
 (639046421587,),
 (639077309909,),
 (639095706599,),
 (675909898057,),
 (675945690716,),
 (675961917837,),
 (675990301623,),
 (676102124465,),
 (676118385837,),
 (676148621961,),
 (676173792455,),
 (676195318214,),
 (676234256292,),
 (676245600876,),
 (676248282243,),
 (676275912597,),
 (676281772837,),
 (676292294938,),
 (676298633337,),
 (676308307625,),
 (676309913934,),
 (676314217768,),
 (676326610042,),
 (676369110710,),
 (676372984911,),
 (4006047418382,),
 (4026222041577,),
 (4066595222529,),
 (4079773899158,),
 (4103158249977,),
 (4149635823017,),
 (4158008602445,),
 (4169388510116,),
 (4186530744674,),
 (4189814094741,),
 (4195740185974,),
 (4198470814557,),
 (4220345354880,),
 (4239436242473,),
 (4247921790666,),
 (4259996134423,),
 (4260128500325,),
 (4279161831637,),
 (4294930380592,),
 (4295296907373,),
 (4306630852918,),
 (4383521454815,),
 (4393520897625,),
 (4396682467723,),
 (4427805710168,),
 (4440581794652,),
 (4464457352619,),
 (4471568287204,),
 (4476840372112,),
 (4481131401752,),
 (4500002361389,),
 (4505383113689,),
 (4538566639857,),
 (4561546772499,),
 (4561892980175,),
 (4562827002127,),
 (4585132874641,),
 (4586260469584,),
 (4600155880464,),
 (4601636330889,),
 (4605902936394,),
 (4613314721966,),
 (4623560839669,),
 (4640395708703,),
 (4642894980163,),
 (4658117080136,),
 (4681699462969,),
 (4683638447911,),
 (4687263141103,),
 (4745996322265,),
 (4755696071492,),
 (4760122961662,),
 (4783226709001,),
 (4788103653396,),
 (4806443445305,),
 (4807552641361,),
 (4809701904914,),
 (4862293128558,),
 (4883407061576,),
 (4900628639996,),
 (4917226033950,),
 (4957924165498,),
 (4981132848794,),
 (4988304376504,),
 (4990494243023,),
 (30011465039817,),
 (30026790933302,),
 (30029052116970,),
 (30030380240193,),
 (30033162392091,),
 (30042378430132,),
 (30044330818990,),
 (30074693890476,),
 (30082025922891,),
 (30092964733035,),
 (30103132002433,),
 (30118423745458,),
 (30131826429364,),
 (30135235368675,),
 (30143535920989,),
 (30143713661454,),
 (30150717898388,),
 (30153452207526,),
 (30175986190993,),
 (30181367542315,),
 (30197398657930,),
 (30199621383748,),
 (30230540139182,),
 (30234966027947,),
 (30235268718158,),
 (30235438713303,),
 (30238755902988,),
 (30242921189660,),
 (30248898834493,),
 (30263540414123,),
 (30266994494236,),
 (30270432095985,),
 (30273037698427,),
 (30290551782700,),
 (30328384440870,),
 (30343344410970,),
 (30344654314976,),
 (30357372465631,),
 (30360260465747,),
 (30364087349027,),
 (30371006069917,),
 (30373802285317,),
 (30376238035123,),
 (30404291151692,),
 (30407675418785,),
 (30408301059761,),
 (30427035050508,),
 (30428204673351,),
 (30434173205605,),
 (30442439074871,),
 (30446018552504,),
 (30487648872433,),
 (30491348102802,),
 (30501624614310,),
 (30510856607165,),
 (30518196150127,),
 (30518206766474,),
 (30541100351706,),
 (30546453310167,),
 (30551643947183,),
 (30560609640617,),
 (30561214688470,),
 (30570197515105,),
 (30596478689301,),
 (36078114201167,),
 (36153880429415,),
 (36192615525683,),
 (36360452125889,),
 (36485887555770,),
 (36581538659449,),
 (36721445180895,),
 (36722699017270,),
 (36890292963032,),
 (36913587729122,),
 (38014427445058,),
 (38052002992326,),
 (38057513087029,),
 (38199021865320,),
 (38295635583927,),
 (38530489946071,),
 (38544312728630,),
 (38580485618059,),
 (38588538868506,),
 (38797410705641,),
 (38859492057661,),
 (38947654498698,),
 (180011453250192,),
 (180014262259255,),
 (180017442990269,),
 (180018375329178,),
 (180020605265701,),
 (180031190491743,),
 (180036456789979,),
 (180040027502291,),
 (180042946491150,),
 (180046165512893,),
 (180046617132290,),
 (180046765320457,),
 (180047222886866,),
 (180048185037117,),
 (180049032966888,),
 (180052752563109,),
 (180056173248083,),
 (180058696935600,),
 (180064817343047,),
 (180065479077096,),
 (180067151859700,),
 (180067784565096,),
 (180068353086472,),
 (180069253480336,),
 (180072527505094,),
 (180081032825079,),
 (180084576295055,),
 (180084695172649,),
 (180094419304907,),
 (180094608895855,),
 (180098888332620,),
 (213102873001603,),
 (213107169859697,),
 (213112402583773,),
 (213113028819344,),
 (213113338379864,),
 (213114122496591,),
 (213120463918358,),
 (213124978348176,),
 (213125815021702,),
 (213126662687660,),
 (213136802746375,),
 (213141712584544,),
 (213148039875802,),
 (213153151785052,),
 (213154573301411,),
 (213155997615567,),
 (213156747557083,),
 (213157767990030,),
 (213161231269724,),
 (213161293389774,),
 (213161869125933,),
 (213163860545705,),
 (213173753804333,),
 (213174467670432,),
 (213175487106448,),
 (213178765398315,),
 (213178850083780,),
 (213180742685905,),
 (213186334552049,),
 (213186551511454,),
 (213186880359195,),
 (213191402330021,),
 (213193596103206,),
 (213195754007681,),
 (213198837352314,),
 (213199865312311,),
 (340103199302564,),
 (340951438290556,),
 (340953839692349,),
 (341283058448499,),
 (341542810616333,),
 (341546199006537,),
 (342035762534413,),
 (342319985983023,),
 (342351256941125,),
 (342360239917375,),
 (342952484382519,),
 (343464013864032,),
 (343472729187663,),
 (343668971234893,),
 (343746486082492,),
 (343819048608995,),
 (344342339068828,),
 (344709867813900,),
 (345060451158891,),
 (345389171551808,),
 (345832460465610,),
 (345933964507467,),
 (346208242862904,),
 (346243940647414,),
 (346273234529002,),
 (347073228412010,),
 (347399333635231,),
 (347612609554823,),
 (348253506557335,),
 (348379466427142,),
 (348789608637806,),
 (349612764943496,),
 (370348764075623,),
 (370612217861404,),
 (370818583810103,),
 (370877495212014,),
 (371009169330125,),
 (371034293500716,),
 (371226440126102,),
 (371284100299909,),
 (371284424780634,),
 (371683116218417,),
 (371985236239474,),
 (372246459334925,),
 (372382441451095,),
 (372509258176510,),
 (372520049757633,),
 (372965408103277,),
 (373043435942726,),
 (373213026644490,),
 (373905417449658,),
 (374125201044065,),
 (374238209524200,),
 (374497717543058,),
 (374656033243756,),
 (374821819075109,),
 (374930071163758,),
 (375082648741747,),
 (375237305371366,),
 (375248307838179,),
 (375534208663984,),
 (375767678113375,),
 (375848982312810,),
 (375904527651269,),
 (375974680629816,),
 (376012912828093,),
 (376028110684021,),
 (376262134119629,),
 (376445266762684,),
 (376656886990758,),
 (376944481517097,),
 (377026671291680,),
 (377113842678100,),
 (377234009633447,),
 (377264520876399,),
 (377550167323848,),
 (377654590313960,),
 (377834944388609,),
 (377895991033232,),
 (377993105397617,),
 (378006354724784,),
 (378278619832195,),
 (378858024506425,),
 (378904938837132,),
 (379141394109214,),
 (379897244598068,),
 (2222001896600109,),
 (2222157926772399,),
 (2224100459250597,),
 (2227671554547514,),
 (2229378226512508,),
 (2229824890647120,),
 (2231186809828225,),
 (2233882705243596,),
 (2235335206132667,),
 (2235613922823698,),
 (2242176657877538,),
 (2242542703101233,),
 (2248348993063230,),
 (2248735346244816,),
 (2252055259910912,),
 (2254799658404120,),
 (2254917871818484,),
 (2256234701263057,),
 (2260801330657968,),
 (2264937662466770,),
 (2266735643685262,),
 (2268221587779419,),
 (2269768987945882,),
 (2274911989136158,),
 (2280870154157385,),
 (2283743876903625,),
 (2284059275940012,),
 (2285066385084291,),
 (2286236465059468,),
 (2288748891690227,),
 (2288813824604479,),
 (2291163933867244,),
 (2296006538441789,),
 (2297447006766555,),
 (2305336922781618,),
 (2318062975163331,),
 (2348245054386329,),
 (2356276337669917,),
 (2358122155477959,),
 (2383461948823908,),
 (2450829271795901,),
 (2454076758463217,),
 (2475085306462014,),
 (2512312531485080,),
 (2576709887791552,),
 (2610529083834453,),
 (2657850734909997,),
 (2703186189652095,),
 (2706977570537524,),
 (2712209726293386,),
 (2713913904780408,),
 (2714019737356678,),
 (2719496466799416,),
 (2720012583106919,),
 (2720433095629877,),
 (2720830304681674,),
 (2720894374956739,),
 (3500165543009955,),
 (3500969075198072,),
 (3501365119557234,),
 (3501509250702469,),
 (3501942333500073,),
 (3502088871723054,),
 (3502377050801561,),
 (3504178999463051,),
 (3506040590383211,),
 (3506042666828517,),
 (3506592072985012,),
 (3508104404056005,),
 (3511058278399773,),
 (3511378610369890,),
 (3512365128314616,),
 (3513285035244624,),
 (3513506355699497,),
 (3513618443244549,),
 (3514865930894695,),
 (3514897282719543,),
 (3517527805128735,),
 (3517814635263522,),
 (3518234918950662,),
 (3518669219150142,),
 (3518758680062249,),
 (3519232971341141,),
 (3519607465576254,),
 (3520550088202337,),
 (3521417320836166,),
 (3521815216091574,),
 (3523843138706408,),
 (3523898249167098,),
 (3524574586339330,),
 (3525590521269779,),
 (3525668150756629,),
 (3526826139003047,),
 (3527063666782582,),
 (3527536963490470,),
 (3528231451607350,),
 (3528407217576457,),
 (3529597810116815,),
 (3529597930342630,),
 (3530503964418806,),
 (3531129874770000,),
 (3531606252458308,),
 (3533012926413100,),
 (3533177016567295,),
 (3533742182628021,),
 (3533800906065217,),
 (3534093764340240,),
 (3534330126107879,),
 (3534718226968689,),
 (3535808924394848,),
 (3536818734263520,),
 (3536918668124647,),
 (3537797820923602,),
 (3538520143479972,),
 (3540017235499519,),
 (3540075240003197,),
 (3540210836308425,),
 (3540416671210051,),
 (3540862542587229,),
 (3541160328600277,),
 (3541554378551366,),
 (3541687240161491,),
 (3542162746848552,),
 (3543299015720986,),
 (3543591270174051,),
 (3544606805704278,),
 (3545109339866548,),
 (3546674063249004,),
 (3546897637165774,),
 (3547560454237873,),
 (3547574373318979,),
 (3549202406645667,),
 (3550412175018089,),
 (3550554389581384,),
 (3551217896304745,),
 (3551512895305309,),
 (3552581383553463,),
 (3553629419254918,),
 (3554818239968984,),
 (3554849923339851,),
 (3556613125071656,),
 (3557442674264531,),
 (3558652751678952,),
 (3558881852140592,),
 (3559160581764413,),
 (3559679414981506,),
 (3559723917628303,),
 (3560246577314524,),
 (3560318482131952,),
 (3560336828629935,),
 (3560697798177746,),
 (3560725013359375,),
 (3560797065840735,),
 (3561212938177173,),
 (3561963695236764,),
 (3562264947797243,),
 (3562679455732797,),
 (3563837241599446,),
 (3564182536169293,),
 (3564839259330465,),
 (3565196229855512,),
 (3565414434959494,),
 (3565423334076143,),
 (3565943051129759,),
 (3565996340207976,),
 (3566094707272327,),
 (3566373869538620,),
 (3566875419572867,),
 (3567527758368741,),
 (3567697931646329,),
 (3567879740649740,),
 (3568255211412877,),
 (3568736585751727,),
 (3572976568630035,),
 (3573030041201292,),
 (3573386445588324,),
 (3575540972310993,),
 (3575789281659026,),
 (3576021480694169,),
 (3576144910346950,),
 (3576281490078437,),
 (3576431665303017,),
 (3576511691045060,),
 (3577578023716568,),
 (3577596616955856,),
 (3577663406369449,),
 (3577794103155425,),
 (3579200383632826,),
 (3581130339108561,),
 (3582402971899057,),
 (3582754887089201,),
 (3583093681934489,),
 (3583293909206278,),
 (3583635130604947,),
 (3583793405872580,),
 (3585052663373890,),
 (3585740823295298,),
 (3586008444788268,),
 (3586955669388457,),
 (3587044315915002,),
 (3587960728692500,),
 (3588001568691267,),
 (3589255887819806,),
 (3589289942931264,),
 (3590736522064285,),
 (3591919803438423,),
 (3592325941359225,),
 (3592931352252641,),
 (3593118134380341,),
 (3593399694467427,),
 (3595111028444131,),
 (3595192916105588,),
 (3596217206093829,),
 (3596357274378601,),
 (3597337756918966,),
 (3597926034019603,),
 (3597980945245815,),
 (3598014571045296,),
 (3598215285024754,),
 (3598304579370089,),
 (3598634130286287,),
 (3598895972308782,),
 (3599237318576484,),
 (4003771737807706,),
 (4003989662068504,),
 (4005676619255478,),
 (4010002218955876,),
 (4025612008285111,),
 (4048508450704760,),
 (4060579726528237,),
 (4067137330196900,),
 (4069975342931683,),
 (4070511711385545,),
 (4087542780207162,),
 (4099707841315751,),
 (4104312520615374,),
 (4116554952971686,),
 (4119762878330989,),
 (4124536010991657,),
 (4128027264554082,),
 (4129767952109660,),
 (4134456652433447,),
 (4147608975828480,),
 (4149238353975790,),
 (4155021259183870,),
 (4158758517677931,),
 (4158945090781624,),
 (4169759661243568,),
 (4170689372027579,),
 (4171397999167005,),
 (4173950183554608,),
 (4178097073221156,),
 (4179719215697782,),
 (4191109180926792,),
 (4195832462863385,),
 (4228411452607671,),
 (4229733778084049,),
 (4239552724014407,),
 (4254074738931278,),
 (4260059589824237,),
 (4265776278887457,),
 (4266200684857219,),
 (4277232699798846,),
 (4294040533480516,),
 (4302475216404898,),
 (4302480582202074,),
 (4306586894261180,),
 (4308156300921054,),
 (4328928491302401,),
 (4334230547694630,),
 (4335531783520911,),
 (4342532437704183,),
 (4344955088481397,),
 (4348786085525522,),
 (4364010865167176,),
 (4365382885912355,),
 (4377338765909719,),
 (4378993458389626,),
 (4384910379661778,),
 (4412720572684931,),
 (4417677808209716,),
 (4423489490781412,),
 (4424338559877976,),
 (4425161475596168,),
 (4428154703770710,),
 (4430881574719618,),
 (4433091568498503,),
 (4446368897795790,),
 (4449530933957323,),
 (4450831335606294,),
 (4451438912406400,),
 (4451952084362894,),
 (4452366298769043,),
 (4474324669797121,),
 (4482427013979020,),
 (4488941175228467,),
 (4492491748959010,),
 (4501449508569485,),
 (4509142395811241,),
 (4509922033272157,),
 (4514242065619750,),
 (4518350514020532,),
 (4550599031376731,),
 (4555104582813474,),
 (4561368699336875,),
 (4570636521433188,),
 (4586810168620942,),
 (4587577161160601,),
 (4599285557366057,),
 (4607072969078276,),
 (4610050989831291,),
 (4610064888664703,),
 (4629451965224809,),
 (4633065159406313,),
 (4634955908138648,),
 (4635330563105903,),
 (4642255475285942,),
 (4651007077623147,),
 (4653879239169997,),
 (4657269323674365,),
 (4658490815480264,),
 (4670613943676271,),
 (4671727014157745,),
 (4681601008538160,),
 (4682744518117239,),
 (4683520018489354,),
 (4698163635895795,),
 (4707867759656333,),
 (4708992452821239,),
 (4710792708725663,),
 (4713464490314802,),
 (4716561796955522,),
 (4725673654161314,),
 (4727244663135968,),
 (4740713119940984,),
 (4764202053279782,),
 (4767265376804500,),
 (4777065439639721,),
 (4789911625179723,),
 (4800395067176717,),
 (4822367783500458,),
 (4824023901222438,),
 (4826655832045236,),
 (4836998673805450,),
 (4839043708100390,),
 (4839615922685395,),
 (4841313716651064,),
 (4859525594182537,),
 (4873783502705038,),
 (4874006077381178,),
 (4874017206859125,),
 (4878364946692291,),
 (4879265611163287,),
 (4904681492230012,),
 (4908846471916297,),
 (4914700582394237,),
 (4917187576956394,),
 (4922710831011201,),
 (4926376199189801,),
 (4933461930348832,),
 (4935858973307492,),
 (4939976756738216,),
 (4951647200979051,),
 (4952583804639909,),
 (4961003488432306,),
 (4969856774088583,),
 (4972228199573984,),
 (4979422371139333,),
 (4986925034905735,),
 (4996263498048679,),
 (4997733566924489,),
 (4998109455173950,),
 (5104807169438134,),
 (5127412150261034,),
 (5130484058948421,),
 (5152054598359927,),
 (5154903938030655,),
 (5289285402893489,),
 (5359543825610251,),
 (5388659976630693,),
 (5410056176712193,),
 (5456712664803820,),
 (5456776410929288,),
 (5501083170975659,),
 (5540636818935089,),
 (5559857416065248,),
 (5580563567307107,),
 (5596347693144598,),
 (6011104316292105,),
 (6011109736646996,),
 (6011148190095209,),
 (6011149206456997,),
 (6011197122270059,),
 (6011231546538393,),
 (6011252220172077,),
 (6011305591981276,),
 (6011329966782895,),
 (6011348830550197,),
 (6011360759745864,),
 (6011366578560244,),
 (6011367958204270,),
 (6011381817520024,),
 (6011382886333463,),
 (6011388901471808,),
 (6011393492413821,),
 (6011399591920186,),
 (6011438889172900,),
 (6011477612335392,),
 (6011492816282597,),
 (6011504998544485,),
 (6011542681743618,),
 (6011552879910390,),
 (6011581063717667,),
 (6011603272871604,),
 (6011626928491360,),
 (6011652924285713,),
 (6011679934075347,),
 (6011681934117244,),
 (6011693194885790,),
 (6011706277606006,),
 (6011724471098086,),
 (6011860238257910,),
 (6011893664860915,),
 (6011917798331152,),
 (6011934240159560,),
 (6011948324228984,),
 (6011975266774121,),
 (6011999606625827,),
 (6501313409525696,),
 (6502195877055606,),
 (6506116513503136,),
 (6506982560413523,),
 (6511349151405438,),
 (6515067575568369,),
 (6517217825320610,),
 (6523180720198790,),
 (6524376634971418,),
 (6526448584969862,),
 (6526777409109795,),
 (6526955903501879,),
 (6528911529051375,),
 (6534628260579800,),
 (6535328428560433,),
 (6538441737335434,),
 (6538891242532018,),
 (6539653032686894,),
 (6540981358631302,),
 (6544734391390261,),
 (6547670341037171,),
 (6550399784335736,),
 (6554245334757802,),
 (6564459919350820,),
 (6569097840281287,),
 (6573561108825071,),
 (6592074504369261,),
 (6592243974328236,),
 (6592861994408652,),
 (6593250708747804,),
 (6593939509150446,),
 (6595970453799027,),
 (6596735789587928,),
 (6597248210463122,),
 (6597888193422452,),
 (4018105808392773675,),
 (4040099974063068803,),
 (4044436772018844508,),
 (4045036286570100739,),
 (4063094974360571498,),
 (4089096483689733451,),
 (4092452671396169678,),
 (4102003771126577611,),
 (4110266553600176127,),
 (4128730454058057622,),
 (4181833256558613886,),
 (4208110975550360171,),
 (4209696857872688515,),
 (4210078554961359092,),
 (4220495028289516646,),
 (4223708906367574214,),
 (4225990116481262579,),
 (4226219726886852999,),
 (4244953610136705533,),
 (4255397449664185994,),
 (4292743669224718067,),
 (4292902571056973207,),
 (4301028321766222513,),
 (4311368326621416041,),
 (4312133045694601139,),
 (4319584480204988982,),
 (4352307151555405069,),
 (4355790796238264643,),
 (4358137750029944984,),
 (4373370572092720777,),
 (4379260813815979609,),
 (4390966588600992777,),
 (4400011257587661852,),
 (4410582919485061752,),
 (4426075337087318654,),
 (4428780983793657331,),
 (4457732997086323466,),
 (4462038234743679432,),
 (4467456915153312231,),
 (4469777115158234880,),
 (4477156602511939689,),
 (4488258847705225890,),
 (4497451418073897078,),
 (4497913965512794052,),
 (4502539526809429801,),
 (4503101193493052864,),
 (4512828414983801773,),
 (4536996888716062123,),
 (4560004149983868183,),
 (4560395181594436016,),
 (4584931703207308232,),
 (4587657402165341815,),
 (4599735407877245080,),
 (4646845581490336108,),
 (4653178848915023204,),
 (4661996144291811856,),
 (4666314527820883145,),
 (4689147265057948423,),
 (4710826438164847414,),
 (4715741951931168360,),
 (4725837176265195730,),
 (4736845434667908128,),
 (4742883543039288059,),
 (4756039869079882102,),
 (4761403817546679245,),
 (4769426683924058915,),
 (4792627764422477317,),
 (4797297220948468262,),
 (4798937978667559470,),
 (4810789809665942990,),
 (4810839835482794272,),
 (4855488158131690372,),
 (4855853415727304322,),
 (4861310130652566408,),
 (4890424426862856940,),
 (4897067971111209737,),
 (4906628655840914250,),
 (4956828990005111019,),
 (4958589671582726883,),
 (4973530368125489546,),
 (4980323467523543940,),
 (4989847570577635369,),
 (4992346398065154184,)]

### A2. Modelando los datos - 30 puntos

La tabla **staging_cc_transactions** es una tabla transitoria. Para poder trabajar con los datos, es necesario modelarlos. Para esto, en esta seccion se deberan crear las tablas necesarias para cumplir con el siguiente modelo de datos:


<img src="images/modelo_datos.jpeg" width="1200">

En esta seccion se deberan crear las tablas necesarias para cumplir con el anterior modelo de datos. Algo de informacion util sobre el mapeo de atributos:

* credit_card_number <- cc_num
* transfer_timestamp <- trans_date_trans_time
* date_of_birth <- dob
* amount <- amt
* city_population <- city_pop
* first_name <- first
* last_name <- last

**ATENCION**: Presten atencion a las columnas que estan marcadas como **PK** y **FK**. Estas columnas deben ser creadas como llaves primarias y foraneas respectivamente.




**HINTS**:
1. Primero deberan crear las tablas **customer**, **address**, **city**, **transaction**, **merchant**, **merchant** y luego poblar las tablas con los datos de la tabla **staging_cc_transactions**. El orden en el que van a poblar las tablas es importante. Recuerden que las tablas **customer** y **address** tienen llaves foraneas a las tablas **city** y **transaction** respectivamente.
2. Presten **MUCHA** atencion a los data types.
3. En el caso de cadenas de caracteres, si no estan seguro del largo, pueden usar el tipo de dato **VARCHAR** o **TEXT**.
4. Tomen en cuenta la diferencia entre **DISTINCT y DISTINCT ON**. DISTINCT ON es una extension de DISTINCT que permite seleccionar unicamente una columna para determinar la unicidad de las filas.
5. Usar **to_timestamp** para convertir una columna de tipo **integer** a **timestamp**.

In [ ]:
"""ADD YOUR CODE HERE"""

In [ ]:
# create the table city

In [14]:
%%sql
CREATE TABLE IF NOT EXISTS city (
    city_id SERIAL PRIMARY KEY,
    city_name VARCHAR NOT NULL,
    state VARCHAR NOT NULL,
    city_population INTEGER NOT NULL
);

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [ ]:
# create the table address

In [15]:
%%sql
DROP TABLE IF EXISTS address;

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [16]:
%%sql
CREATE TABLE address (
    addr_id INTEGER PRIMARY KEY,
    street VARCHAR NOT NULL,
    zip INTEGER NOT NULL,
    lat NUMERIC(10, 8) NOT NULL,
    long NUMERIC(11, 8) NOT NULL,
    city_id INTEGER NOT NULL,
    FOREIGN KEY (city_id) REFERENCES city(city_id));

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [147]:
# create the table customer

In [17]:
%%sql
DROP TABLE IF EXISTS customer;

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [18]:
%%sql
CREATE TABLE customer (
    cust_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    credit_card_number BIGINT NOT NULL,
    gender VARCHAR(1) NOT NULL,
    job TEXT NOT NULL,
    date_of_birth DATE NOT NULL,
    addr_id INTEGER NOT NULL,
    FOREIGN KEY (addr_id) REFERENCES address(addr_id));

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [137]:
# create the table merchant

In [19]:
%%sql
DROP TABLE IF EXISTS merchant;

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [20]:
%%sql
CREATE TABLE merchant (
    merchant_id INTEGER PRIMARY KEY,
    merchant_name VARCHAR(50) NOT NULL,
    category VARCHAR(50) NOT NULL,
    lat NUMERIC(10, 8) NOT NULL,
    long NUMERIC(11, 8) NOT NULL);

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [121]:
# create the table transaction

In [21]:
%%sql
DROP TABLE IF EXISTS transaction;

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [22]:
%%sql
CREATE TABLE transaction (
    transaction_id TEXT PRIMARY KEY,
    amount INTEGER,
    transfer_timestamp TIMESTAMP,
    unix_time INT,
    is_fraud SMALLINT,
    cust_id INTEGER NOT NULL,
    merchant_id INTEGER NOT NULL,
    FOREIGN KEY (cust_id) REFERENCES customer(cust_id),
    FOREIGN KEY (merchant_id) REFERENCES merchant(merchant_id));

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [ ]:
# populate the city table

In [13]:
%%sql
TRUNCATE TABLE city CASCADE;

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [14]:
%%sql
INSERT INTO city (city_id, city_name, state, city_population)
SELECT DISTINCT ON (city_id) city_id, city, state, city_pop FROM staging_cc_transactions_wid;

 * postgresql://postgres:***@35.226.219.2:5432/exam
849 rows affected.

[]

In [159]:
# populate the address table

In [15]:
%%sql
TRUNCATE TABLE address CASCADE;

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [16]:
%%sql
INSERT INTO address (addr_id, street, zip, lat, long, city_id)
SELECT DISTINCT addr_id, street, zip, lat, long, city_id FROM staging_cc_transactions_wid;

 * postgresql://postgres:***@35.226.219.2:5432/exam
924 rows affected.

[]

In [154]:
# populate the customer table

In [17]:
%%sql
TRUNCATE TABLE customer CASCADE;

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [18]:
%%sql
INSERT INTO customer (cust_id, first_name, last_name, credit_card_number, gender, job, date_of_birth, addr_id)
SELECT DISTINCT cust_id, first, last, cc_num, gender, job, dob::date, addr_id FROM staging_cc_transactions_wid;

 * postgresql://postgres:***@35.226.219.2:5432/exam
924 rows affected.

[]

In [164]:
# populate the merchant table

In [19]:
%%sql
TRUNCATE TABLE merchant CASCADE;

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [20]:
%%sql
INSERT INTO merchant (merchant_id, merchant_name, category, lat, long)
SELECT DISTINCT ON(merchant_id) merchant_id, merchant, category, merch_lat, merch_long FROM staging_cc_transactions_wid;

 * postgresql://postgres:***@35.226.219.2:5432/exam
693 rows affected.

[]

In [21]:
# populate the transaction table

In [22]:
%%sql
TRUNCATE TABLE transaction CASCADE;

 * postgresql://postgres:***@35.226.219.2:5432/exam
Done.

[]

In [33]:
%%sql
INSERT INTO transaction (transaction_id, amount, transfer_timestamp, unix_time, is_fraud, cust_id, merchant_id)
SELECT DISTINCT ON(trans_num) trans_num, amt, trans_date_trans_time::timestamp, unix_time, is_fraud, cust_id, merchant_id FROM staging_cc_transactions_wid;

 * postgresql://postgres:***@35.226.219.2:5432/exam
555719 rows affected.

[]

## Tarea B. Consultando la base de datos - 40 puntos

En esta seccion se deberan realizar las consultas en SQL necesarias para responder a las preguntas planteadas. Usen el modelo de datos que crearon en la seccion anterior para realizar las consultas.

### 1. ¿Quien es el cliente mas viejo? Mostrar su nombre completo y fecha de nacimiento.

In [66]:
%%sql
SELECT first_name, last_name, date_of_birth
FROM customer
ORDER BY date_of_birth ASC
LIMIT 1;

 * postgresql://postgres:***@35.226.219.2:5432/exam
1 rows affected.

[('Mike', 'Tran', datetime.date(1924, 10, 30))]

In [67]:
print(_)

+------------+-----------+---------------+
| first_name | last_name | date_of_birth |
+------------+-----------+---------------+
|    Mike    |    Tran   |   1924-10-30  |
+------------+-----------+---------------+

### 2. ¿Quien es el cliente mas joven? Mostrar su nombre completo y fecha de nacimiento.

In [104]:
%%sql
SELECT first_name, last_name, date_of_birth
FROM customer
ORDER BY date_of_birth DESC
LIMIT 1;

 * postgresql://postgres:***@35.226.219.2:5432/exam
1 rows affected.

[('Michael', 'Gross', datetime.date(2005, 1, 29))]

In [105]:
print(_)

+------------+-----------+---------------+
| first_name | last_name | date_of_birth |
+------------+-----------+---------------+
|  Michael   |   Gross   |   2005-01-29  |
+------------+-----------+---------------+

### 3. ¿Cuales son los apellidos mas comunes en la base de datos? Ordenar los resultados de mayor a menor frecuencia. Mostrar los 10 primeros.

In [102]:
%%sql
SELECT last_name, COUNT(last_name) AS count
FROM customer
GROUP BY last_name
ORDER BY count DESC
LIMIT 10;

 * postgresql://postgres:***@35.226.219.2:5432/exam
10 rows affected.

[('Smith', 17),
 ('Williams', 17),
 ('Johnson', 14),
 ('Davis', 13),
 ('Jones', 12),
 ('Martinez', 11),
 ('Rodriguez', 11),
 ('Lewis', 10),
 ('Thomas', 9),
 ('Allen', 8)]

In [103]:
print(_)

+-----------+-------+
| last_name | count |
+-----------+-------+
|   Smith   |   17  |
|  Williams |   17  |
|  Johnson  |   14  |
|   Davis   |   13  |
|   Jones   |   12  |
|  Martinez |   11  |
| Rodriguez |   11  |
|   Lewis   |   10  |
|   Thomas  |   9   |
|   Allen   |   8   |
+-----------+-------+

### 4. ¿Cual es el porcentaje de mujeres y hombres en la base de datos? Mostrar una columna con el genero y otra con el porcentaje de clientes de ese genero.

In [90]:
%%sql
SELECT gender, ROUND(COUNT(gender)::NUMERIC *100 / (SELECT COUNT(*) FROM customer)::NUMERIC, 2)AS count
FROM customer
GROUP BY gender

 * postgresql://postgres:***@35.226.219.2:5432/exam
2 rows affected.

[('M', Decimal('49.35')), ('F', Decimal('50.65'))]

In [91]:
print(_)

+--------+-------+
| gender | count |
+--------+-------+
|   M    | 49.35 |
|   F    | 50.65 |
+--------+-------+

### 5. ¿Cual es el estado(state) con mayor cantidad de clientes? Mostrar el nombre del estado y la cantidad de clientes. Mostrar SOLO el estado con mayor cantidad de clientes.

In [30]:
%%sql
SELECT state, COUNT(cust_id) AS count
FROM city
JOIN address ON city.city_id = address.city_id
JOIN customer ON address.addr_id = customer.addr_id
GROUP BY state
ORDER BY count DESC
LIMIT 1;

 * postgresql://postgres:***@35.226.219.2:5432/exam
1 rows affected.

[('NY', 59)]

In [31]:
print(_)

+-------+-------+
| state | count |
+-------+-------+
|   NY  |   59  |
+-------+-------+

### 6. ¿Cual es el porcentaje de transacciones fraudulentas y no fraudulentas? Mostrar una columna con el tipo de transaccion y otra con el porcentaje de transacciones de ese tipo.
HINT: El operador "/" de division en POSTGRES entre numeros enteros trunca los resultados a enteros. Para obtener un resultado con decimales, usar el operador "/" de division de punto flotante "::float" o "::numeric".

In [92]:
%%sql
SELECT is_fraud, ROUND(COUNT(is_fraud)::NUMERIC *100 / (SELECT COUNT(*) FROM transaction)::NUMERIC, 2)AS count
FROM transaction
GROUP BY is_fraud

 * postgresql://postgres:***@35.226.219.2:5432/exam
2 rows affected.

[(0, Decimal('99.61')), (1, Decimal('0.39'))]

In [93]:
print(_)

+----------+-------+
| is_fraud | count |
+----------+-------+
|    0     | 99.61 |
|    1     |  0.39 |
+----------+-------+

### 7. ¿Cual es el estado con mayor cantidad de transacciones fraudulentas? Mostrar el nombre del estado y la cantidad de transacciones fraudulentas. Mostrar SOLO el estado con mayor cantidad de transacciones fraudulentas.

In [36]:
%%sql
SELECT state, COUNT(is_fraud) AS count
FROM city
JOIN address ON city.city_id = address.city_id
JOIN customer ON address.addr_id = customer.addr_id
JOIN transaction ON customer.cust_id = transaction.cust_id
WHERE is_fraud = 1
GROUP BY state
ORDER BY count DESC
LIMIT 1;

 * postgresql://postgres:***@35.226.219.2:5432/exam
1 rows affected.

[('NY', 171)]

In [37]:
print(_)

+-------+-------+
| state | count |
+-------+-------+
|   NY  |  171  |
+-------+-------+

### 8. Mostrar el porcentaje de fraude por tienda. Limitar los resultados a las 10 tiendas con mayor tasa de fraude. Mostrar el nombre de la tienda, y su respectivo porcentaje de fraude con SEIS decimales de precision. Ordenar los resultados de mayor a menor tasa de fraude.

In [56]:
%%sql
WITH aux_table AS (
SELECT merchant_count.merchant_id, merchant_count.count as total, SUM(transaction.is_fraud) as total_fraud
FROM (
SELECT merchant.merchant_id, COUNT(*) AS count
FROM merchant
JOIN transaction ON merchant.merchant_id = transaction.merchant_id
GROUP BY merchant.merchant_id
) as merchant_count
JOIN transaction ON transaction.merchant_id = merchant_count.merchant_id
WHERE is_fraud = 1
GROUP BY merchant_count.merchant_id, merchant_count.count
)
SELECT merchant.merchant_id,  merchant.merchant_name, ROUND((total_fraud::numeric * 100/ total::numeric) , 6) AS percentage
FROM aux_table
JOIN merchant ON merchant.merchant_id = aux_table.merchant_id
ORDER BY percentage DESC
LIMIT 10;

 * postgresql://postgres:***@35.226.219.2:5432/exam
10 rows affected.

[(424654, 'fraud_Romaguera, Cruickshank and Greenholt', Decimal('2.173913')),
 (309018, 'fraud_Lemke-Gutmann', Decimal('2.150538')),
 (354188, 'fraud_Mosciski, Ziemann and Farrell', Decimal('2.068966')),
 (195397, 'fraud_Heathcote, Yost and Kertzmann', Decimal('2.048193')),
 (422540, 'fraud_Rodriguez, Yost and Jenkins', Decimal('1.996008')),
 (338974, 'fraud_Medhurst PLC', Decimal('1.943005')),
 (22597, 'fraud_Bashirian Group', Decimal('1.898734')),
 (274624, 'fraud_Kris-Weimann', Decimal('1.893939')),
 (194595, 'fraud_Heathcote LLC', Decimal('1.870324')),
 (30466, 'fraud_Bednar Group', Decimal('1.851852'))]

In [57]:
print(_)

+-------------+--------------------------------------------+------------+
| merchant_id |               merchant_name                | percentage |
+-------------+--------------------------------------------+------------+
|    424654   | fraud_Romaguera, Cruickshank and Greenholt |  2.173913  |
|    309018   |            fraud_Lemke-Gutmann             |  2.150538  |
|    354188   |    fraud_Mosciski, Ziemann and Farrell     |  2.068966  |
|    195397   |    fraud_Heathcote, Yost and Kertzmann     |  2.048193  |
|    422540   |     fraud_Rodriguez, Yost and Jenkins      |  1.996008  |
|    338974   |             fraud_Medhurst PLC             |  1.943005  |
|    22597    |           fraud_Bashirian Group            |  1.898734  |
|    274624   |             fraud_Kris-Weimann             |  1.893939  |
|    194595   |            fraud_Heathcote LLC             |  1.870324  |
|    30466    |             fraud_Bednar Group             |  1.851852  |
+-------------+--------------------------------------------+------------+

In [ ]:
# Podemos comprobar el resultado, calculamos la cantidad de fraudes de la tienda con id 424564

In [58]:
%%sql
select merchant_id, sum(is_fraud) as count
from transaction
group by merchant_id
having merchant_id = 424654
order by merchant_id ASC
limit 10;

 * postgresql://postgres:***@35.226.219.2:5432/exam
1 rows affected.

[(424654, 18)]

In [59]:
print(_)

+-------------+-------+
| merchant_id | count |
+-------------+-------+
|    424654   |   18  |
+-------------+-------+

In [ ]:
# luego calculamos la cantidad de transacciones de la tienda con id 424564 -> 18/828 = 2.17%

In [63]:
%%sql
select merchant_id
from transaction
where merchant_id = 424654

 * postgresql://postgres:***@35.226.219.2:5432/exam
828 rows affected.

[(424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,),
 (424654,)]

In [62]:
print(_)

+-------------+-------+
| merchant_id | count |
+-------------+-------+
|    424654   |  828  |
+-------------+-------+

In [ ]:
# Por lo tanto, el resultado es correcto. Manera alternativa de calcular la respuesta

In [19]:
%%sql
WITH total As(
    SELECT merchant_name, COUNT(*) AS count
    FROM merchant
    JOIN transaction ON merchant.merchant_id = transaction.merchant_id
    GROUP BY merchant_name
)
SELECT merchant.merchant_name, ROUND(COUNT(is_fraud)::NUMERIC *100 / total.count::NUMERIC, 6) AS count
FROM merchant
JOIN transaction ON merchant.merchant_id = transaction.merchant_id
JOIN total ON merchant.merchant_name = total.merchant_name
WHERE is_fraud = 1
GROUP BY merchant.merchant_name, total.count
ORDER BY count DESC
LIMIT 10;

 * postgresql://postgres:***@35.226.219.2:5432/exam
10 rows affected.

[('fraud_Romaguera, Cruickshank and Greenholt', Decimal('2.173913')),
 ('fraud_Lemke-Gutmann', Decimal('2.150538')),
 ('fraud_Mosciski, Ziemann and Farrell', Decimal('2.068966')),
 ('fraud_Heathcote, Yost and Kertzmann', Decimal('2.048193')),
 ('fraud_Rodriguez, Yost and Jenkins', Decimal('1.996008')),
 ('fraud_Medhurst PLC', Decimal('1.943005')),
 ('fraud_Bashirian Group', Decimal('1.898734')),
 ('fraud_Kris-Weimann', Decimal('1.893939')),
 ('fraud_Heathcote LLC', Decimal('1.870324')),
 ('fraud_Bednar Group', Decimal('1.851852'))]

In [20]:
print(_)

+--------------------------------------------+----------+
|               merchant_name                |  count   |
+--------------------------------------------+----------+
| fraud_Romaguera, Cruickshank and Greenholt | 2.173913 |
|            fraud_Lemke-Gutmann             | 2.150538 |
|    fraud_Mosciski, Ziemann and Farrell     | 2.068966 |
|    fraud_Heathcote, Yost and Kertzmann     | 2.048193 |
|     fraud_Rodriguez, Yost and Jenkins      | 1.996008 |
|             fraud_Medhurst PLC             | 1.943005 |
|           fraud_Bashirian Group            | 1.898734 |
|             fraud_Kris-Weimann             | 1.893939 |
|            fraud_Heathcote LLC             | 1.870324 |
|             fraud_Bednar Group             | 1.851852 |
+--------------------------------------------+----------+

### 9. ¿Cual es la categoria de tienda con mayor cantidad de transacciones fraudulentas?. Mostrar el nombre de la categoria y la cantidad de transacciones fraudulentas. Mostrar SOLO la categoria con mayor cantidad de transacciones fraudulentas.

In [70]:
%%sql
SELECT category, COUNT(*) AS count
FROM merchant
JOIN transaction ON merchant.merchant_id = transaction.merchant_id
WHERE is_fraud = 1
GROUP BY category
ORDER BY count DESC
LIMIT 1;

 * postgresql://postgres:***@35.226.219.2:5432/exam
1 rows affected.

[('grocery_pos', 487)]

In [71]:
print(_)

+-------------+-------+
|   category  | count |
+-------------+-------+
| grocery_pos |  487  |
+-------------+-------+

### 10. ¿Cual es el cliente que mas dinero ha gastado en la base de datos? Mostrar el nombre, apellido del cliente y el monto total gastado. Mostrar SOLO el cliente con mayor monto gastado.

In [64]:
%%sql
SELECT first_name, last_name, SUM(amount) AS total
FROM customer
JOIN transaction ON customer.cust_id = transaction.cust_id
GROUP BY first_name, last_name
ORDER BY total DESC
LIMIT 1;

 * postgresql://postgres:***@35.226.219.2:5432/exam
1 rows affected.

[('Kristina', 'Stewart', 139203)]

In [65]:
print(_)

+------------+-----------+--------+
| first_name | last_name | total  |
+------------+-----------+--------+
|  Kristina  |  Stewart  | 139203 |
+------------+-----------+--------+

## (Opcional) Tarea C. Consultando la base de datos

### BONUS 1. ¿Cual es la relacion entre la edad de los clientes y el monto total gastado? Dividir a los clientes en tres grupos de edades: jovenes (menores de 30 años), adultos (entre 30 y 60 años) y ancianos (mayores de 60 años). Mostrar el monto total gastado por cada grupo de edad. Ordenar los resultados de menor a mayor monto total gastado.

Hint 1: puede ser util la funcion extract() junto con la funcion age() para obtener la edad de los clientes.
Hint 2: puede ser util la funcion CASE para dividir a los clientes en los tres grupos de edades.

In [66]:
%%sql
SELECT CASE
WHEN EXTRACT(YEAR FROM AGE(date_of_birth)) < 30 THEN 'jovenes'
WHEN EXTRACT(YEAR FROM AGE(date_of_birth)) BETWEEN 30 AND 60 THEN 'adultos'
WHEN EXTRACT(YEAR FROM AGE(date_of_birth)) > 60 THEN 'ancianos'
END AS age_group, SUM(amount) AS total
FROM customer
JOIN transaction ON customer.cust_id = transaction.cust_id
GROUP BY age_group
ORDER BY total ASC;

 * postgresql://postgres:***@35.226.219.2:5432/exam
3 rows affected.

[('jovenes', 4892249), ('ancianos', 8433007), ('adultos', 25236801)]

In [67]:
print(_)

+-----------+----------+
| age_group |  total   |
+-----------+----------+
|  jovenes  | 4892249  |
|  ancianos | 8433007  |
|  adultos  | 25236801 |
+-----------+----------+

### BONUS 2. ¿Cual es la tienda cuyas transacciones fueron realizadas por la mayor cantidad de clientes ancianos (mayores a 60 años)? Mostrar el nombre de la tienda y la cantidad de clientes ancianos. Mostrar SOLO la tienda con mayor cantidad de clientes ancianos.

In [10]:
%%sql
WITH ancianos AS (
SELECT merchant_name, COUNT(*) AS count
FROM merchant
JOIN transaction ON merchant.merchant_id = transaction.merchant_id
JOIN customer ON transaction.cust_id = customer.cust_id
WHERE EXTRACT(YEAR FROM AGE(date_of_birth)) > 60
GROUP BY merchant_name
)
SELECT merchant_name, count
FROM ancianos
WHERE count = (SELECT MAX(count) FROM ancianos);

 * postgresql://postgres:***@35.226.219.2:5432/exam
1 rows affected.

[('fraud_Kilback LLC', 421)]

In [11]:
print(_)

+-------------------+-------+
|   merchant_name   | count |
+-------------------+-------+
| fraud_Kilback LLC |  421  |
+-------------------+-------+